@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --light-yellow: #e6e3dc;
    --lighter-yellow:#f1f0eb;
    --white: #fff;
    --black: #000000;
    --blue: #124e78;
    --orange: #ad430d;
    --light-orange: #d74e09;
    --lighter-orange: #d37444;
    --strawberry: #c70f6b;
    --dark-blue: #1b263b;
    --main-padding: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    cursor: crosshair;
}

/* --HEADER-- */

.header {
    height: 100vh;
    color: var(--light-yellow);
    font-weight: 600;
    padding: var(--main-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(17deg, rgba(18,78,120,1) 35%, rgba(215,78,9,1) 85%);
}

/* .header::before {    
    content: "";
    background: url(../images/background-10.jpg) center no-repeat;
    background-size: cover;
    opacity: 70%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
} */

/* --HEADER - NAV-- */

.header__nav {
    display: none;
    position: absolute;
    top: var(--main-padding);
    left: calc(50% - 520px / 2);
    width: 520px;
    justify-content: space-between;
}   

.header__nav-item {
    transition: all 0.2s linear;
    font-size: 1.1rem;
}

.header__nav-item:hover {
    color: var(--lighter-yellow);
    font-style: italic;
}

/* --HEADER - RESUME-- */

.header__resume {
    position: absolute;
    top: var(--main-padding);
    right: var(--main-padding);
    text-align: center;
}

.header__resume-title {
    margin-bottom: 10px;
    font-size: 1.1rem;
    border: 1px solid var(--light-yellow);
    border-radius: 20px;
    padding: 10px;
}

.header__resume-link {
    transition: all 0.2s linear;
    margin-right: 3px;
    font-size: 0.9rem;
}

.header__resume-link:hover {
    color: var(--lighter-yellow);
    font-style: italic;
}

/* --HEADER - CONTENT-- */

.header__content {
    width: 90%;
    line-height: 1.5;
    padding: 10px 0;
    margin-bottom: 60px;
}

.header__title-div {
    margin-bottom: 30px;
}

.header__content-title {
    margin: 20px 0;
    font-size: 1.6rem;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.title-decoration-header {
    display: block;
    text-align: left;
    font-style: italic;
    font-size: 1.3rem;
    opacity: 0.5;
    font-family: 'Permanent Marker', cursive;
}

.header__content-text {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.header__content-subtitle {
    font-size: 1rem;
    font-weight: 700;
}

.header__content-text-item {
    font-weight: 300;
    font-size: 0.8rem;
}

.header__content-oclock-link {
    transition: all 0.2s linear;
}

.header__content-oclock-link:hover {
    border-bottom: 1px solid var(--light-yellow);
}

/* --HEADER - SOCIALS & EMAIL-- */

.header__socials-email {
    display: none;
    font-size: 1.1rem;
    flex-direction: column; 
    position: absolute;
    right: var(--main-padding);
    top: calc(50% - 310px / 2);
}

.header__link {
    writing-mode: vertical-lr;
    margin-bottom: 30px;
    transition: all 0.3s linear;
}

.header__link:hover {
    color: var(--lighter-yellow);
    font-style: italic;
}

/*  --HEADER - BUTTON-- */

.btn-go-down-accueil {
    display: block;
    position: relative;
    z-index: 500;
    width: 41px;
    height: 41px;
    cursor: pointer;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-clip: padding-box;
    background: url(../images/icon-btn-double-arrow-down.svg) no-repeat center center;
    color: var(--light-yellow);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

/* --MAIN-- */

.main {
    background: rgb(11,41,62);
    background: linear-gradient(0deg, #0b293e 0%,var(--blue) 100%);
    color: var(--light-yellow);
    
}

#experience, #about, #contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.importanterer {
    color : var(--orange); /*#e03289;*/
}

.importanter {
    color : var(--light-orange); /*#c70f6b*/
}

.important {
    color : var(--lighter-orange);
}

.underlined {
    border-bottom: 1px solid var(--white);
    font-weight: 300;
}


/* --MAIN - SECTION LINKS*/

.section__links {
    z-index : 2999;
    margin-bottom: 10px;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    padding : var(--main-padding);
    color: var(--light-yellow);
    /* Background color using glassmorphism */
    background: rgb(18, 78, 120,0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

/* Maybe for later w/ JS : 'disable' current section link */
/* .section__link--active {
    opacity: 0.5;
    background: none;
    margin-right: 20px;
} */

.section__link--hidden {
    display: none;
}

.section__link {
    margin-right: 20px;
    background-image: linear-gradient(
    to right,
    var(--orange),
    var(--lighter-orange) 50%,
    #fff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.section__link:hover {
    font-size: 1.05rem;
    background-position: 0;
}

.section__link:hover::before {
    width: 100%;
}

/* --MAIN - EXPERIENCE SECTION-- */

.section__title {
    margin: 60px 5px 30px;
    font-size: 1.6rem;
}

.title-decoration {
    font-style: italic;
    font-size: 1.1rem;
    opacity: 0.5;
    font-family: 'Permanent Marker', cursive;
}

.experience__cards {
    width: 90%;
    display: flex;
    flex-wrap: wrap; 
    row-gap: 10px; 
    margin-bottom: 30px;
}

.experience__card {
    width: 100%;
    height: 320px;
    border: 1px solid var(--white);
    padding: 20px;
}

.experience__card-title {
    font-size: 1.1rem;
    margin-bottom: 5px;
    font-weight: 900;
    line-height: 1.2;
}

.experience__card-title--detail { 
    font-size: 0.95rem;
    font-weight: 800;
}

.experience__card-subtitle {
    font-size: 0.9rem;
    margin-bottom: 5px;
    line-height: 1.4;
}

.experience__card-date {
    font-size: 0.85rem;
    margin-bottom: 15px;
    font-style: italic;
}

.experience__card-date-details {
    font-size: 0.78rem;
}

.experience__card-content {
    font-size: 0.85rem;
    line-height: 1.6;
    margin-bottom: 3px;
}

/* --MAIN - ABOUT SECTION-- */

/* --MAIN - CONTACT SECTION-- */

#contact {
    align-items: flex-start;
    padding: 30px;
    color: var(--light-yellow);
}

.contact__title {
    font-family: 'Permanent Marker', cursive;
    font-size: 3.5rem;
    margin-bottom: 30px;
}

.contact__content {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.contact__content-link {
    font-size: 0.75rem;
    margin: 10px 5px 5px 0;
    border-bottom: 1px solid var(--light-yellow);
}

.contact__content-link:hover {
    font-style: italic;
}



/* -----------------RESPONSIVE------------------ */

/* Desktop & Tablets */
@media (min-width: 860px) {

    :root {
        --main-padding: 30px;
    }

    /* --HEADER-- */

    /* --HEADER - NAV-- */

    .header__nav {
        display: flex;
    }

    /* -- HEADER - CONTENT -- */

    .header__content {
        width: 60%;
    }

    .header__content-title {
        margin: 35px 0;
        letter-spacing: 0.9rem;
        font-size: 3rem;
    }

    .title-decoration-header {
        font-size: 2rem;
    }

    .header__content-text-item {
        font-size: 1.2rem;
    }

    .header__content-subtitle {
        font-size: 1.6rem;
    }

    .header__content-text, .header__content-text-group {
        margin-bottom: 30px;
    }

    /* --HEADER - SOCIALS & EMAIL-- */

    .header__socials-email {
        display: flex;  
    }

    /* --HEADER - RESUME-- */

    .header__resume {
        top: calc(var(--main-padding) - 10px);
        right: calc(var(--main-padding) + 10px);
    }

    /* --HEADER - BUTTON */

    .header__button {
        position: absolute;
        bottom: 40px;
        left: calc(50% - 41px / 2);
    }

    /* --MAIN -- */

    .section__link--hidden {
        display: inline;
    }

    /* --MAIN - EXPERIENCES-- */

    .section__title {
        margin: 30px 10px 60px;
        font-size: 2rem;
    }

    .title-decoration {
        font-size: 1.5rem;
    }

    .experience__cards { 
        width: 70%;
        column-gap:3%;  
    }

    .experience__card {
        width: 47%;
        height: auto;
        padding: 30px;
    }

    .experience__card-title {
        font-size: 1.3rem;
        margin-bottom: 8px;
    }

    .experience__card-title--detail { 
        font-size: 0.9rem;
    }
    
    .experience__card-subtitle {
        line-height: 1.4;
        font-size: 1.1rem;
        margin-bottom: 8px;
    }
    
    .experience__card-date {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .experience__card-date-details {
        font-size: 0.9rem;
    }
    
    .experience__card-content {
        font-size: 0.9rem;
        line-height: 1.4;
        margin-bottom: 3px;
    }
    
}


/* Smaller devices like Galaxy Fold */
@media (max-width: 380px) {

    :root {
        --main-padding: 10px;
    }

    /* --HEADER-- */
 

    .header__content {
        width: 90%;
        line-height: 1.3;
    }

    .header__content-title {
        font-size: 1.3rem;
    }      

    .header__content-text{
        margin-bottom: 20px;
    }

    /* --MAIN - EXPERIENCES-- */

    #experience {
        height: auto;
        justify-content: flex-start;
    }

    .section__title {
        font-size: 1.2rem;
    }

    .section__title-decoration {
        font-size: 0.9rem;
    }

    .experience__card  {
        height:400px;
    }
}

/* -- ANIMATIONS BOUNCING ARROW - HEADER -- */

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

