/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
    --white: #FFF;
    --black: #000000;
    --dark-blue: #1b263b;
    --main-padding: 15px;
}

body {
    font-family: 'Courier', monospace;
    cursor: crosshair;
}


/* --HEADER-- */

.header {
    background: url(../images/background-10.jpg) center no-repeat;
    background-size: cover;
    opacity: 70%;
    height: 100vh;
    color: var(--black);
    font-weight: 600;
    padding: var(--main-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Idea maybe for later */
    /* border: 3px solid;
    border-image-source: linear-gradient(90deg,#f7c9c9,#fa709a 70%);
    border-image-slice: 1; */
    position: relative;
}

/* --HEADER - NAV-- */

.header__nav {
    position: absolute;
    top: var(--main-padding);
    left: var(--main-padding);
    display: flex;
    flex-direction: column;
    width: 200px;
}

.header__nav-item-span {
    margin-bottom: 10px;
}

.header__nav-item:hover {
    border-bottom: 3px double var(--black);
    font-size: 1.05rem;
    transition: all 0.2s linear;
}

/* --HEADER - RESUME-- */

.header__resume {
    position: absolute;
    top: var(--main-padding);
    right: calc(var(--main-padding) + 10px);
    text-align: center;
}

.header__resume-title {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.header__resume-links {
    color: var(--dark-blue);
}

.header__resume-link:hover {
    border-bottom: 3px double var(--black);
    color: var(--black);
    font-size: 1.1rem;
    transition: all 0.2s linear;
}

/* --HEADER - SOCIALS-- */

.header__socials {
    display: flex;  
    flex-direction: column; 
    position: absolute;;
    top:0;
    left: var(--main-padding);
    top: calc(50% - 354px / 2);
}

.header__socials-link {
    margin-bottom: 30px;
    writing-mode: vertical-lr;
}

.header__socials-link:hover {
    font-weight: 900;
    font-size: 1.05rem;
    text-shadow: -1px -1px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s linear;
}

/* --HEADER - CONTENT-- */

.header__content {
    width: 50%;
    line-height: 1.5;
}

.header__content-title {
    font-size: 2rem;
    margin-bottom: 30px;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.9rem;
}

.header__content-text, .header__content-text-group-item {
    font-size: 0.9rem;
    letter-spacing: -0.1rem;
    font-weight: 500;
}

.header__content-subtitle {
    letter-spacing: 0rem;
    font-size: 1.1rem;
    font-weight: 700;
}

.header__content-text, .header__content-text-group {
    margin-bottom: 20px;
}

.header__content-oclock-link:hover {
    border-bottom: 3px double var(--black);
    transition: all 0.2s linear;
}

/* --HEADER - EMAIL-- */

.header__email {
    position: absolute;
    right: var(--main-padding);
    top: 65%;
}

.header__email-link {
    writing-mode: vertical-lr;
}

.header__email-link:hover {
    font-weight: 900;
    font-size: 1.05rem;
    text-shadow: -1px -1px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s linear;
}

.header__email-separator {
    background-color: red;
    width: 30px;
}

/* --MAIN-- */

#experience {
    height: 100vh;
    background-color: var(--dark-blue);
    color: var(--white)
}

.section__title {
    color: #FFF;
}


/* RESPONSIVE */

/* Desktop & Tablets */
@media (min-width: 768px) {

    :root {
        --main-padding: 30px;
    }

    /* --HEADER - NAV-- */

    .header__nav {
        left: calc(50% - 520px / 2);
        flex-direction: row;
        justify-content: space-between;
        width: 520px;
    }

    .header__nav-item-span {
        margin-bottom: none;
    }

    .header__nav-item:hover {
        border-bottom: 3px double var(--black);
        font-size: 1.05rem;
        transition: all 0.2s linear;
    }

    /* --HEADER - CONTENT-- */

    .header__content-title {
        font-size: 3rem;
    }

    .header__content-text, .header__content-text-group-item {
        font-size: 1.2rem;
    }

    .header__content-subtitle {
        font-size: 1.5rem;
    }

    .header__content-text, .header__content-text-group {
        margin-bottom: 30px;
    }
    
}


/* Smaller devices like Galaxy Fold */
@media (max-width: 330px) {

    :root {
        --main-padding: 10px;
    }

    .header__nav-item, .header__resume-title, .header__email-link, .header__socials-link {
        font-size: 0.9rem;
    }

    .header__email-link:hover {
        font-size: 0.92rem;
    } 
    
    .header__socials-link:hover {
        font-size: 0.92rem;
    }

    .header__nav-item:hover {
        font-size: 0.92rem;
    }

    .header__resume-title {
        margin-bottom: 5px;
    }

    .header__resume-link {
        font-size: 0.8rem;;
    }

    .header__resume-link:hover {
        font-size: 0.9rem;
    } 

    .header__content {
        width: 60%;
        line-height: 1.3;
    }

    .header__content-title {
        margin-bottom: 20px;
        font-size: 1.5rem;
    }      

    .header__content-text, .header__content-text-group {
        margin-bottom: 10px;
    }
}