/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
    --white: #FFF;
    --black: #000000;
    --blue: rgb(0,0,0, 0.7);
    --dark-blue: #1b263b;
    --main-padding: 15px;
}

body {
    font-family: 'Courier', monospace;
    cursor: crosshair;
}


/* --HEADER-- */

.header {
    height: 100vh;
    color: var(--black);
    font-weight: 600;
    padding: var(--main-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header::before {    
    content: "";
    background: url(../images/background-10.jpg) center no-repeat;
    background-size: cover;
    opacity: 70%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

/* --HEADER - NAV-- */

.header__nav {
    color: var(--blue);
    position: absolute;
    top: var(--main-padding);
    left: var(--main-padding);
    display: flex;
    flex-direction: column;
    width: 200px;
}

.header__nav-item-span {
    margin-bottom: 10px;
}

.header__nav-item {
    transition: all 0.2s linear;
    border-bottom: 1px solid var(--black);
}

.header__nav-item:hover {
    border-bottom: 3px double var(--black);
    color: var(--black);
    font-style: italic;
}

/* --HEADER - RESUME-- */

.header__resume {
    color: var(--blue);
    position: absolute;
    top: var(--main-padding);
    right: calc(var(--main-padding) + 10px);
    text-align: center;
}

.header__resume-title {
    color: var(--black);
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.header__resume-links {
    font-size: 0.9rem;
}

.header__resume-link {
    transition: all 0.2s linear;
}

.header__resume-link:hover {
    border-bottom: 3px double var(--black);
    color: var(--black);
    font-style: italic;
}

/* --HEADER - CONTENT-- */

.header__content {
    color: var(--blue);
    width: 80%;
    line-height: 1.5;
    padding: 10px 0;
}

.header__content-title {
    color: var(--black);
    font-size: 1.7rem;
    margin-bottom: 30px;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.5rem;
}

.header__content-text, .header__content-text-group-item {
    font-size: 0.9rem;
    letter-spacing: -0.1rem;
    font-weight: 500;
}

.header__content-subtitle {
    letter-spacing: 0rem;
    font-size: 1.1rem;
    font-weight: 700;
}

.header__content-text, .header__content-text-group {
    margin-bottom: 20px;
}

.header__content-oclock-link {
    transition: all 0.2s linear;
}

.header__content-oclock-link:hover {
    border-bottom: 3px double var(--blue);
}

/* --HEADER - SOCIALS & EMAIL-- */

.header__socials-email {
    display: none;
}

.header__link {
    writing-mode: vertical-lr;
    margin-bottom: 30px;
    transition: all 0.3s linear;
}

.header__link:hover, .header__link:hover {
    font-weight: 900;
    font-style: italic;
    color: var(--black);
}

/* --MAIN-- */

.section__links {
    margin-bottom: 10px;
    display: flex;
    position: absolute;
    top: var(--main-padding);
    left: var(--main-padding);
}

.section__link--active {
    opacity: 0.5;
    background: none;
    margin-right: 20px;
}

.section__link--hidden {
    display: none;
}

.section__link {
    margin-right: 20px;
    background-image: linear-gradient(
    to right,
    #FC6578,
    #FB71C0 50%,
    #fff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.section__link:hover {
    font-size: 1.05rem;
    background-position: 0;
}

.section__link:hover::before {
    width: 100%;
}

.pink {
    color : #e03289;
}

.pinker {
    color : #fa70b5;
}

.pinkerer {
    color : #f19ec8;
}


.underlined {
    border-bottom: 1px solid var(--white);
}

.main {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: var(--main-padding);
}

#experience, #about, #contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* --MAIN - EXPERIENCE SECTION-- */

.section__title {
    margin-top: calc(var(--main-padding) + 20px);
    margin-bottom: 30px;
    font-size: 1.5rem;
}

.section__title-decoration {
    font-style: italic;
    font-size: 1.1rem;
    opacity: 0.5;
    font-family: 'Permanent Marker', cursive;
}

.experience__cards {
    width: 90%;
    display: flex;
    flex-wrap: wrap; 
    row-gap: 10px; 
    margin-bottom: 30px;
}

.experience__card {
    width: 100%;
    height: 320px;
    border: 1px solid var(--white);
    padding: 20px;
}

.experience__card-title {
    margin-bottom: 5px;
    font-weight: 900;
}

.experience__card-title--detail { 
    font-size: 0.85rem;
    font-weight: 800;
}

.experience__card-subtitle {
    font-size: 0.8rem;
    margin-bottom: 5px;
    line-height: 1.4;
}

.experience__card-date {
    font-size: 0.8em;
    margin-bottom: 15px;
    font-style: italic;
}

.experience__card-content {
    font-size: 0.8rem;
    line-height: 1.4;
    margin-bottom: 3px;
}

/* --MAIN - ABOUT SECTION-- */




/* RESPONSIVE */

/* Desktop & Tablets */
@media (min-width: 860px) {

    :root {
        --main-padding: 30px;
    }

    /* --HEADER-- */

    /* --HEADER - NAV-- */

    .header__nav {
        left: calc(50% - 520px / 2);
        flex-direction: row;
        justify-content: space-between;
        width: 520px;
    }

    .header__nav-item-span {
        margin-bottom: none;
    }

    /* --HEADER - CONTENT-- */

    .header__content {
        width: 60%;
    }

    .header__content-title {
        letter-spacing: 0.9rem;
        font-size: 3rem;
    }

    .header__content-text, .header__content-text-group-item {
        font-size: 1.2rem;
    }

    .header__content-subtitle {
        font-size: 1.5rem;
    }

    .header__content-text, .header__content-text-group {
        margin-bottom: 30px;
    }

    /* --HEADER - SOCIALS & EMAIL-- */

    .header__socials-email {
        display: inline-block;
        color: var(--blue);
        display: flex;  
        flex-direction: column; 
        position: absolute;
        right: var(--main-padding);
        top: calc(50% - 310px / 2);
    }

    /* --MAIN -- */

    .section__link--hidden {
        display: inline;
    }

    /* --MAIN - EXPERIENCES-- */

    .experience__cards { 
        width: 70%;
        column-gap:3%;  
    }

    .experience__card {
        width: 47%;
        height: auto;
        padding: 30px;
    }

    .experience__card-title {
        font-size: 1.3rem;
        margin-bottom: 8px;
    }

    .experience__card-title--detail { 
        font-size: 0.9rem;
    }
    
    .experience__card-subtitle {
        line-height: 1.4;
        font-size: 1.1rem;
        margin-bottom: 8px;
    }
    
    .experience__card-date {
        font-size: 1em;
        margin-bottom: 20px;
    }
    
    .experience__card-content {
        font-size: 0.9rem;
        line-height: 1.4;
        margin-bottom: 3px;
    }
    
}


/* Smaller devices like Galaxy Fold */
@media (max-width: 380px) {

    :root {
        --main-padding: 10px;
    }

    /* --HEADER-- */

    .header__nav-item, .header__resume-title, .header__email-link, .header__socials-link {
        font-size: 0.9rem;
    }

    .header__email-link:hover {
        font-size: 0.92rem;
    } 
    
    .header__socials-link:hover {
        font-size: 0.92rem;
    }

    .header__resume-title {
        margin-bottom: 5px;
    }

    .header__resume-link {
        font-size: 0.8rem;;
    }

    .header__content {
        width: 60%;
        line-height: 1.3;
    }

    .header__content-title {
        margin-bottom: 20px;
        font-size: 1.5rem;
    }      

    .header__content-text, .header__content-text-group {
        margin-bottom: 10px;
    }

    /* --MAIN - EXPERIENCES-- */

    #experience {
        height: auto;
        justify-content: flex-start;
    }

    .section__title {
        font-size: 1.2rem;
    }

    .section__title-decoration {
        font-size: 0.9rem;
    }

    .experience__card  {
        height:450px;
    }


}